
<div class="bird">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Cartoon: {{cartoon}}</div>
  <div>Location: {{location}}</div>
   <div>Flight Speed: {{flight speed}}</div>
    <div>Size: {{size}}</div>
  <a href="/birds/{{id}}/edit">Edit</a>
</div>